<div class="content">
    <h1>About</h1>
    <article>
        <p>
          I am a M. Sc. student in the <a href="http://is.skku.edu">Department of Interaction Science</a> at Sungkyunkwan University and a member of <a href="http://dsl.skku.edu">Data eXperience Lab</a> advised by Prof. <a href="http://eunilpark.com">Eunil Park</a>.
          My research interests lie at the intersection of <em>natural language processing</em> and <em>human-computer interaction</em>.
          Currently, I mainly focus on designing and building machine learning models from human-centered perspectives, which reflect human needs and further address societal problems. Moreover, I attempt to validate human-centered machine learning models by conducting social science methodologies beyond accuracy.
          For more information about my research experience, please refer to my <a href='/Jina_Kim_CV.pdf' style="text-decoration: underline">Curriculum Vitae (PDF)</a>.
        </p>
    </article>

    <div class="panel panel-default">
      <div class="panel-body">
            <h2>News</h2>
            <ul class="list-unstyled">
                <li>[Feb. 2021] Our paper on capturing customers' repeat visits through hybrid approaches was finally accepted in <i>Data Technologies and Application</i>!</li>
                <li>[Jan. 2021] Honored to attend the Global Young Scientists Summit (GYSS) 2021! Thank you NRF of Korea for the nomination.</li>
                <li>[Jan. 2021] Our paper on book recommendation was accepted in <i>the Electronic Library</i>.🎉</li>
                <li>[Dec. 2020] Successfully defended my Master's thesis! Thanks to everyone who has supported me throughout this journey.😀</li>
            </ul>
      </div>
    </div>
</div>