<section class="thirteen columns">
    <h1>About</h1>
    <article>
        <p>
          I am Jina Kim, a M.Sc. student in <a href="http://dsl.skku.edu">Data eXperience Lab</a> at Sungkyunkwan University, advised by <a href="http://eunilpark.com">Eunil Park</a>. </br>
          My research area is Artificial Intelligence (AI) and Natural Language Processing (NLP) in user eXperience.
           <!-- I have focused on finding valuable cues in online service or social media and using NLP tequniques to solve real-world problems. -->
          As AI is permeating in our daily lives, my interest lies in solving real-world problems by finding valuable cues in online service or social media with NLP techniques.
          <!-- figuring out how to build users’ trust on AI by its feedback. -->

          </br>
          </br>
          I am currently dispatched to Carnegie Mellon University - Artifical Intelligence program supported by IITP until the beginning of July.
        </p>
    </article>
</section>
