<section class="thirteen columns">
    <h1>Honors and Awards</h1>

    <article>
        <header>
            Best Research Award <span>(Jan 2020)</span> <br>
            <span>College of Computing, Sungkyunkwan University</span>
        </header>
    </article>

    <article>
        <header>
            SKKU Graduate Scholarship <span>(2019-2020)</span><br>
            <span>Sungkyunkwan University</span>
        </header>
    </article>

    <article>
        <header>
            Graduation Achievement Award <span>(Feb 2019)</span><br>
            <span>Hansung University</span>
        </header>
    </article>

</section>
