<section class="thirteen columns">
    <h1>Honors and Awards</h1>

    <article>
        <header>
            High-Potential Individuals Global Training (Artificial Intelligence Program in CMU), Jan to Jul 2020 <br>
            <span>Institute for Information and Communications Technology Promotion (IITP) under the Ministry of Science and ICT</span>
        </header>
    </article>

    <article>
        <header>
            Best Research Award, Jan 2020 <br>
            <span>College of Computing, Sungkyunkwan University</span>
        </header>
    </article>

    <article>
        <header>
            SKKU Graduate Scholarship, 2019 to 2020 <br>
            <span>Sungkyunkwan University</span>
        </header>
    </article>

    <article>
        <header>
            Graduation Achievement Award, Feb 2019<br>
            <span>Hansung University</span>
        </header>
    </article>

</section>
