<section class="thirteen columns">
    <h1>Honors and Awards</h1>

    <article>
        <header>
            Best Research Award, College of Computing, Sungkyunkwan University <span>(Jan 2020)</span>
        </header>
    </article>

    <article>
        <header>
            SKKU Graduate Scholarship, Sungkyunkwan University <span>(2019)</span>
        </header>
    </article>

    <article>
        <header>
            Graduation Achievement Award, Hansung University <span>(Feb 2019)</span>
        </header>
    </article>

</section>
