<section class="thirteen columns">
    <h1>Education</h1>

    <article>
        <header>
            M.Sc. in Interaction Science<br/>
            <span>Sungkyunkwan University</span>
            <span><address>Seoul, Republic of Korea</address><time>Mar 2019 to Present</time></span>
        </header>
    </article>

    <article>
        <header>
            B.S. in Computer Engineering<br/>
            <span>Hansung University</span>
            <span><address>Seoul, Republic of Korea</address><time>Mar 2015 to Feb 2019</time></span>
        </header>
    </article>

</section>
