<section class="thirteen columns">
    <h1>Education</h1>

    <article>
        <header>
            <em>M.Sc. in Interaction Science</em><br/>
            <span>Sungkyunkwan University<address>Seoul, Republic of Korea</address><time>Present</time></span>
        </header>
    </article>

    <article>
        <header>
            <em>B.S. in Computer Science</em><br/>
            <span>Hansung University<address>Seoul, Republic of Korea</address><time>2015 to 2019</time></span>
        </header>
    </article>

</section>
