<section class="thirteen columns">
    <h1>Experiences</h1>
    <article>
        <header>
            <h1>Student Researcher</h1>
            <span>Project supported from Seoul Business Agency, Hansung University</span>
        </header>
        <p>
          ‘Development of the Appliance with Messaging Technology underlying Hyper-Connected Society’<br/>
          Implemented messaging solution based on real-time location using MQTT protocol.
        </p>
    </article>

    <article>
        <header>
            <h1>Research Intern</h1>
            <span>Electronics and Telecommunications Research Institute (ETRI)</span>
        </header>
        <p>
          Summer Internship. Working in IoT department implementing a study for evaluating multiple conversational agents.
        </p>
    </article>

    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span>Friends of Diplomats 9th, Gangnam District Volunteer Center</span>
        </header>
        <p>
          Volunteer organization for educating diplomats about Korean language and culture. Designing volunteer programs and managing SNS
        </p>
    </article>
</section>
