<section class="thirteen columns">
    <h1>Experiences</h1>

    <article>
        <header>
            Research Intern<br/>
            <span>Electronics and Telecommunications Research Institute (ETRI)</span>
        </header>
        <p>
          Summer Internship. Working in IoT department implementing a study for evaluating multiple conversational agents.
        </p>
    </article>

    <article>
        <header>
            Student Volunteer<br/>
            <span>Friends of Diplomats 9th, Gangnam District Volunteer Center</span>
        </header>
        <p>
          Volunteer organization for educating diplomats about Korean language and culture. Designing volunteer programs and managing SNS
        </p>
    </article>
</section>
