<section class="thirteen columns">
    <h1>Projects</h1>

    <article>
        <header>
            <em>Research Associate, ‘Developing a Deep Learning Model for Predicting Service Reuse’</em><br/>
            <span>NRF, Sungkyunkwan University (Mar 2019 - Present)</span>
        </header>
    </article>

    <article>
        <header>
            <em>Research Associate, ‘Exploring public attitude toward various energy sources: An approach of social media big data’</em><br/>
            <span>NRF, Sungkyunkwan University (Mar 2019 - Present)</span>
        </header>
    </article>

    <article>
        <header>
            <em>Research Associate, ‘Exploring user experience of augmented reality and virtual reality products’</em><br/>
            <span>NRF, Sungkyunkwan University (Mar 2019 - Present)</span>
        </header>
    </article>

    <article>
        <header>
            <em>Student Researcher, ‘Development of the Appliance with Messaging Technology underlying Hyper-Connected Society’</em><br/>
            <span>초연결사회의 기반이 되는 메시징 기술 탑재 어플라이언스 개발</span><br/>
            <span>Seoul Business Agency, Hansung University (Nov 2017 - Oct 2018)</span>
        </header>
    </article>
</section>
