<section class="thirteen columns">
    <h1>Publications</h1>

    <h2>International Publications</h2>

    <h2>[2020]</h2>
    <article>
        <header>
            Who will be your next customer: A machine learning approach to customer return visits in airline services<br/>
            <span> Syjung Hwang, <em>Jina Kim</em>, Eunil Park, Sang Jib Kwon. (2020).</span><br/>
            <span>Journal of Business Research, 121, 121-126.
                <a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S014829632030535X?via%3Dihub" class="paper_link">[Link]</a></span>
        </header>
    </article>

    <article>
        <header>
            A deep learning model for detecting mental illness from user content on social media<br/>
            <span> <em>Jina Kim</em>, Jieon Lee, Eunil Park, Jinyoung Han. (2020).</span><br/>
            <span>Scientific Reports, 10, 11846.
                <a href="{{site.baseurl}}/dataset/20srep-mental" class="paper_link">[Dataset]</a> <a target="_blank" href="https://www.nature.com/articles/s41598-020-68764-y" class="paper_link">[Link]</a></span>
        </header>
    </article>

    <article>
        <header>
            Can AI be a content generator? Effects of content generators and information delivery methods on the psychology of content consumers<br/>
            <span> <em>Jina Kim</em>, Soyeon Shin,  Kunwoo Bae, Soyoung Oh, Eunil Park, Angel P.del Pobil. (2020).</span><br/>
            <span>Telematics and Informatics. (accepted)
                <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0736585320301118" class="paper_link">[Link]</a></span>
        </header>
    </article>

    <article>
        <header>
            Cross-cultural comparison of interactive streaming services: Evidence from Twitch<br/>
            <span>Soyoung Oh, <em>Jina Kim</em>, Honggeun Ji, Eunil Park, Jinyoung Han, Minsam Ko, Munyoung Lee. (2020).</span><br/>
            <span>Telematics and Informatics. (accepted)
                <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0736585320300939" class="paper_link">[Link]</a></span>
        </header>
    </article>

    <h2>[2019]</h2>
    <article>
        <header>
            Who will Subscribe to My Streaming Channel?: The Case of Twitch<br/>
            <span> <em>Jina Kim</em>, Kunwoo Bae, Eunil Park, Angel P.del Pobil. (2019).</span><br/>
            <span>CSCW 2019 Extended Abstracts.
                <a target="_blank" href="https://dl.acm.org/doi/abs/10.1145/3311957.3359470" class="paper_link">[Link]</a></span>
        </header>
    </article>

    <article>
        <header>
            Determinants of customer satisfaction with airline services: An analysis of customer feedback big data<br/>
            <span>Eunil Park, Yeonju Jang, <em>Jina Kim</em>, Nam Jeong Jeong, Kunwoo Bae, Angel P.del Pobil. (2019).</span><br/>
            <span>Journal of Retailing and Consumer Services, 51, 186-190.
                <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0969698919304369" class="paper_link">[Link]</a></span>
        </header>
    </article>

    <article>
        <header>
            Beyond coolness: Predicting the technology adoption of interactive wearable devices<br/>
            <span> <em>Jina Kim</em>, & Eunil Park. (2019).</span><br/>
            <span>Journal of Retailing and Consumer Services, 49, 114-119.
                <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0969698919304369" class="paper_link">[Link]</a></span>
        </header>
    </article>


    <h2>Domestic Publications</h2>
    <h2>[2018]</h2>
    <article>
        <header>
            An MQTT based Real Time LBS System Design for Vehicles and Pedestrians<br/>
            <span>Wongyun Choi, <em>Jina Kim</em>, Hyunyong Sim, Yejin Kim, Inhwan Jung, Jaemoon Lee, Namyoon Kim. (2018).</span><br/>
            <span>Korea Computer Conference, 413-415.</span><br/>
            <span>(Korean: MQTT 기반 실시간 자동차 및 보행자 위치 기반 서비스 시스템 설계, 한국정보과학회 학술발표논문집)</span>
        </header>
    </article>

    <article>
        <header>
            Implementation of Multi-Streaming System of Live Video of Drone<br/>
            <span>Kitae Hwang, <em>Jina Kim</em>, Yongseok Choi, Joonhee Kim, Hyungmin Kim, Inhwan Jung. (2018).</span><br/>
            <span>The Journal of the Institute of Internet, Broadcasting and Communication, 18(1), 143-149.</span><br/>
            <span>(Korean: 드론 라이브 영상의 다중 스트리밍 시스템 구현, 한국인터넷방송통신학회 논문지)</span>
        </header>
    </article>

</section>
