<div class="content">
    <h1>Publications</h1>

    <h2>International Publications &nbsp; <span style="font-size: smaller;color: rgb(60, 60, 60);font-weight: normal;">(* = co-corresponding author, ** = equal contribution)</span></h2>

    <h2>[accepted/in press]</h2>

    <article>
        <header>
            Scientific Analysis on Machine Learning for Mental Health in Social Media: A Bibliometric Study<br/>
            <span> <em>Jina Kim</em>, Daeun Lee, Eunil Park. (accepted).</span><br/>
            <span><i>Journal of Medical Internet Research.</i> (SCIE, JCR 2019 IF=5.034) </span>
        </header>
    </article>

    <article>
        <header>
            Between Comments and Repeat Visit: Capturing Repeat Visitors with a Hybrid Approach<br/>
            <span> <em>Jina Kim**</em>, Yeonju Jang**, Kunwoo Bae, Soyoung Oh, Nam Jeong Jeong, Eunil Park, Jinyoung Han, Angel P.del Pobil. (accepted).</span><br/>
            <span><i>Data Technologies and Applications.</i> (SSCI, JCR 2019 IF=0.704)</span>
        </header>
    </article>

    <article>
        <header>
            What books will be your bestseller? A machine learning approach with Amazon Kindle<br/>
            <span> Seungpeel Lee, Honggeun Ji, <em>Jina Kim*</em>, Eunil Park. (accepted).</span><br/>
            <span><i>The Electronic Library.</i> (SSCI, JCR 2019 IF=0.792)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.tandfonline.com/doi/abs/10.1080/0144929X.2020.1827033" class="paper_link">Understanding social resistance to determine the future of Internet of Things (IoT) services</a><br/>
            <span> <em>Jina Kim</em>, Eunil Park. (accepted).</span><br/>
            <span><i>Behaviour & Information Technology.</i> (SSCI, JCR 2019 IF=1.781)</span>
        </header>
    </article>

    <h2>[2021]</h2>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0969698920313898" class="paper_link">A deep hybrid learning model for customer repurchase behavior</a><br/>
            <span> <em>Jina Kim</em>, Honggeun Ji, Soyoung Oh, Syjung Hwang, Eunil Park, Angel P.del Pobil. (2021).</span><br/>
            <span><i>Journal of Retailing and Consumer Services</i>, 59, 102381. (SSCI, JCR 2019 IF=4.219)</span>
        </header>
    </article>

    <h2>[2020]</h2>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S014829632030535X?via%3Dihub" class="paper_link">Who will be your next customer: A machine learning approach to customer return visits in airline services</a><br/>
            <span> Syjung Hwang, <em>Jina Kim</em>, Eunil Park, Sang Jib Kwon. (2020).</span><br/>
            <span><i>Journal of Business Research</i>, 121, 121-126. (SSCI, JCR 2019 IF=4.874)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.nature.com/articles/s41598-020-68764-y" class="paper_link">A deep learning model for detecting mental illness from user content on social media</a><br/>
            <span> <em>Jina Kim</em>, Jieon Lee, Eunil Park, Jinyoung Han. (2020).</span><br/>
            <span><i>Scientific Reports</i>, 10, 11846. (SCIE, JCR 2019 IF=3.998)&nbsp; <a class="btn_dataset" href="{{site.baseurl}}/dataset/20srep-mental">Dataset</a></span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/pii/S0736585320301118" class="paper_link">Can AI be a content generator? Effects of content generators and information delivery methods on the psychology of content consumers</a><br/>
            <span> <em>Jina Kim</em>, Soyeon Shin,  Kunwoo Bae, Soyoung Oh, Eunil Park, Angel P.del Pobil. (2020).</span><br/>
            <span><i>Telematics and Informatics</i>, 55, 101452. (SSCI, JCR 2019 IF=4.139)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/pii/S0736585320300939" class="paper_link">Cross-cultural comparison of interactive streaming services: Evidence from Twitch</a><br/>
            <span>Soyoung Oh, <em>Jina Kim</em>, Honggeun Ji, Eunil Park, Jinyoung Han, Minsam Ko, Munyoung Lee. (2020).</span><br/>
            <span><i>Telematics and Informatics</i>, 55, 101434. (SSCI, JCR 2019 IF=4.139)</span>
        </header>
    </article>

    <h2>[2019]</h2>
    <article>
        <header>
            <a href="https://dl.acm.org/doi/abs/10.1145/3311957.3359470" class="paper_link">Who will Subscribe to My Streaming Channel?: The Case of Twitch</a><br/>
            <span> <em>Jina Kim</em>, Kunwoo Bae, Eunil Park, Angel P.del Pobil. (2019).</span><br/>
            <span><i>CSCW 2019 Extended Abstracts.</i></span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/pii/S0969698919304369" class="paper_link">Determinants of customer satisfaction with airline services: An analysis of customer feedback big data</a><br/>
            <span>Eunil Park, Yeonju Jang, <em>Jina Kim</em>, Nam Jeong Jeong, Kunwoo Bae, Angel P.del Pobil. (2019).</span><br/>
            <span><i>Journal of Retailing and Consumer Services</i>, 51, 186-190. (SSCI, JCR 2019 IF=4.219)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0969698918309044" class="paper_link">Beyond coolness: Predicting the technology adoption of interactive wearable devices<br/></a>
            <span> <em>Jina Kim</em>, Eunil Park. (2019).</span><br/>
            <span><i>Journal of Retailing and Consumer Services</i>, 49, 114-119. (SSCI, JCR 2019 IF=4.219)</span>
        </header>
    </article>


    <h2>Domestic Publications</h2>
    <h2>[2021]</h2>
    <article>
        <header>
            Propagation of Blame and Revolting Expressions in Social Network Services: the Case of COVID-19<br/>
            <span>Sangeun Lee, Jisu Kim, <em>Jina Kim</em>, Eunil Park, Angel P.del Pobil. (2021).</span><br/>
            <span><i>HCI Korea 2021</i>.</span>
        </header>
    </article>

    <h2>[2018]</h2>
    <article>
        <header>
            An MQTT based Real Time LBS System Design for Vehicles and Pedestrians<br/>
            <span>Wongyun Choi, <em>Jina Kim</em>, Hyunyong Sim, Yejin Kim, Inhwan Jung, Jaemoon Lee, Namyoon Kim. (2018).</span><br/>
            <span><i>Korea Computer Conference</i>, 413-415.</span>
        </header>
    </article>

    <article>
        <header>
            Implementation of Multi-Streaming System of Live Video of Drone<br/>
            <span>Kitae Hwang, <em>Jina Kim</em>, Yongseok Choi, Joonhee Kim, Hyungmin Kim, Inhwan Jung. (2018).</span><br/>
            <span><i>The Journal of the Institute of Internet, Broadcasting and Communication</i>, 18(1), 143-149.</span>
        </header>
    </article>

</div>