<section class="thirteen columns">
    <h1>Research <span style="font-size:80%"> <a>[See All Publications]</a></span></h1>

    <h2>??</h2>

    <article>
        <header>
            Who will be your next customer: A machine learning approach to customer return visits in airline services<br/>
            <span> Syjung Hwang, <em>Jina Kim</em>, Eunil Park, Sang Jib Kwon. (2020).</span><br/>
            <span>Journal of Business Research, 121, 121-126.
                <a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S014829632030535X?via%3Dihub" class="paper_link">[Link]</a></span>
        </header>
    </article>

    <hr>

</section>
