<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Homepage">
    <meta name="author" content="{{ site.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.website_full }}static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.website_full }}static/css/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ site.website_full }}static/img/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="row">
            <header class="col-sm-3">
                <div class="fixed-condition">
                    <img src="{{ site.website_full }}static/img/profile.jpg" class="me">
                    <h1 id="my_name">{{ site.name }}</h1>
                    <ul class="list-unstyled">
                        <li><em>Pronouns: she/her</em></li><li></li>

                        <li><em>Contact</em></li>
                        <li><i class="fa fa-envelope fa-fw"></i>&nbsp; <a href="{{ site.univ_email_full }}">{{ site.univ_email }}</a></li>
                        <li><i class="fa fa-graduation-cap fa-fw"></i>&nbsp; <a href="{{ site.google_scholar }}">Google Scholar</a></li>
                        <li><i class="fa fa-github fa-fw"></i>&nbsp; <a href="{{ site.github }}">GitHub</a></li>
                        <li><i class="fa fa-linkedin-square fa-fw"></i>&nbsp; <a href="{{ site.linkedin }}">LinkedIn</a></li>
                    </ul>
                </div>
            </header>
            <div class="col-sm-9 col-sm-offset-3">
                <section id="about">
                    <h1>About</h1>
                    <article>
                        <p>
                        Hello! This is Jina Kim (김지나 in Korean). I am a PhD student in the <a href="https://cse.umn.edu/cs">Computer Science & Engineering Department</a> at the University of Minnesota and a member of <a href="http://knowledge-computing.github.io">Knowledge Computing Lab</a>, advised by <a href="https://yaoyichi.github.io">Prof. Yao-Yi Chiang</a>.
                        <br><br>
                        My research interests lie in <em>spatial artificial intelligence</em> and <em>multimodal learning</em>.
                        I mainly focus on developing techniques to automatically extract meaningful information from large-scale, multimodal spatial data.
                        Heterogeneous spatial data includes overhead images, trajectories, and documents such as scanned images (e.g., scanned maps) or natural language documents containing valuable geographic information.
                        I am also interested in validating technologies beyond accuracy by using social science methodologies.
                        For more information about my research experience, please refer to my <a href='/Jina_Kim_CV.pdf' style="text-decoration: underline">Curriculum Vitae (PDF)</a>.
                        <br><br>
                        I obtained my Master's degree in <a href="http://is.skku.edu">Interaction Science</a> from Sungkyunkwan University under <a href="https://sites.google.com/view/eunil">Prof. Eunil Park</a>'s supervision where I found my passion in conducting interdisciplinary research to solve real-world problems.
                        During my Master's, I have completed the Intensive Artificial Intelligence Program offered by the <a href="https://www.lti.cs.cmu.edu">Language Technologies Institute</a> at Carnegie Mellon University.
                        Before that I received my Bachelor's degree in <a href="https://www.hansung.ac.kr/Engineering/1176/subview.do">Computer Engineering</a> from Hansung University.
                        </p>
                    </article>

                    <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>News <a type="button" data-toggle="collapse" data-target="#collapseList" aria-expanded="false" aria-controls="collapseList" style="font-size: 85%; color: #F58282;font-weight: normal;">click here to view more/less 👀</a></h2>
                        <ul class="list-unstyled">
                            <li>[Nov. 2025] At <a href="https://sigspatial2025.sigspatial.org/">ACM SIGSPATIAL 2025</a>, I presented StreetLens in GeoHCC and RegionContext in UrbanAI, and co-authored trajectory mining papers in GeoAnomalies and GeoGenAgent. 
                                Our team lin2kimchi won 7th place in GISCUP! I had the pleasure of serving as BPC co-chair, co-organizing networking events, and also co-organized a lab gathering for the SIGSPATIAL community.😊
                            </li>

                            <li>[June 2025] I co-organized workshop "Capturing Human Perception of Neighborhoods Using Online Data with Language and Vision Models" at <a href="https://www.ucgis.org/site/symposium-2025">UCGIS 2025</a>. Very excited to introduce researcher-configurable workflow, StreetLens!😊</li>
                            <li>[Apr. 2025] Our interactive map exploring local characteristics was selected for the Map Gallery at the 2025 Big Ten GIS Conference!🎉 <a href="https://gin.btaa.org/Map-Gallery-Update/">Check it out here.</a></li>
                            <li>[Mar. 2025] I presented our ongoing work, "Points of Interest Data Contextualization Using a Spatial Language Model for Learning Functional Roles of Regions," at the GeoAI and Deep Learning Symposium during the 2025 AAG Annual Meeting.</li>
                            <li>[Jan. 2025] I'm excited to be co-teaching CSCI 5523: Introduction to Data Mining, a graduate-level course, this Spring 2025!</li>
                            <div class="collapse" id="collapseList" aria-expanded="false" style="height: 0px;">
                                <li>[Oct. 2024] At <a href="https://sigspatial2024.sigspatial.org/">ACM SIGSPATIAL 2024</a>, I presented our paper, "<a href="https://dl.acm.org/doi/10.1145/3681765.3698465">Context-Aware Trajectory Anomaly Detection</a>," as the second author at the 1st GeoAnomalies workshop!
                                    I had the great pleasure of co-organizing a DEI networking event, serving as a judge for the Student Research Competition, and leading a book giveaway event.😊
                                </li>
                                <li>[July 2024] I won the Best Overall Map at the <a href="https://thespatialuniversity.umn.edu/pages/mapping-prize">2024 U-Spatial Mapping Prize</a>! Check out our award-winning map, "<a href="https://arcg.is/0f9CHa">City Harmony: Exploring Shared Urban Characteristics.</a>"</li>
                                <li>[June 2024] I am very excited to join the Video Intelligence Platform team at Amazon as an Applied Scientist Intern this summer! I will contribute to developing multimodal models on video understanding.</li>
                                <li>[Mar. 2024] I will serve as one of the very first members of the <a href="https://spatialdei.github.io/">ACM SIGSPATIAL's Diversity, Equity, and Inclusion (DEI)</a>.😀</li>
                                <li>[Nov. 2023] I won the first place in the Student Research Competition at the <a href="https://sigspatial2023.sigspatial.org/awards/">ACM SIGSPATIAL '23</a>, with my research titled "<a href="https://jina-kim.github.io/files/papers/2023-11-jina-sigspatial-src.pdf">Towards Learning of Spatial Triad from Online Text</a>."
                                    My undergraduate intern, <a href="https://www.linkedin.com/in/rhett-olson-160752261/">Rhett Olson</a>, also won the first place in the undergraduate track!🎉
                                </li>
                                <li>[Nov. 2023] I will attend the <a href="https://sigspatial2023.sigspatial.org/">ACM SIGSPATIAL '23</a> for participating the Student Research Competition, presenting the <a href="https://arxiv.org/pdf/2306.17059">mapKurator system</a>, and organizing <a href="https://spatialwomen.github.io/">SpatialW</a> networking event!</li>
                                <li>[Aug. 2023] I attended <a href="https://criticalminerals.darpa.mil/">DARPA CriticalMAAS project</a> kick-off meeting held in the National Conservation Training Center. I am super excited to contribute to representation learning techniques capturing spatial characteristics!</li>
                                <li>[Apr. 2023] My poster on meaningful representations from multimodal spatial data won first place for the best poster award at <a href="https://www.siam.org/conferences/cm/conference/sdm23">SIAM SDM '23</a>!🎉 Thanks to whom enjoyed my poster pitch and voted for my research.🤗 <a href="https://jina-kim.github.io/files/SDM2023_Doctoral_Forum_Poster.pdf">Link to the poster</a>.</li>
                                <li>[Apr. 2023] <a href="https://www.siam.org/conferences/cm/conference/sdm23">SIAM SDM '23</a> is approaching! I will co-organize the networking session for the underrepresented groups and moderate a panel at the doctoral forum.</li>
                                <li>[Apr. 2023] I presented our <a href="https://knowledge-computing.github.io/mapkurator-doc/#/">mapKurator</a> pipeline at the <a href="https://cesta.stanford.edu/events/machine-reading-maps-summit">David Rumsey Map Center</a> in Stanford. <a href="https://youtu.be/yStLzf-mrtY">Link to the recordings</a>.</li>
                                <li>[Mar. 2023] I will co-organize a session and have presentations in the GeoAI and Deep Learning Symposium at <a href="https://www.aag.org/events/aag2023/">2023 AAG Annual Meeting</a>! Check out details via the <a href="https://www.aag.org/wp-content/uploads/2023/03/AAG-2023-PDF-program.pdf">program file</a>.</li>
                                <li>[Nov. 2022] <a href="http://spatialwomen.github.io/">SpatialW</a> official website is released! We have several Board of Directors positions available. Please check out the details via the website.🤗</li>
                                <li>[Oct. 2022] I am excited to co-organize the first networking event for female graduate students at SIGSPATIAL '22! Please fill out the <a href="https://forms.gle/JicrFUYeUtaH7i3XA">survey form</a> if you're interested in!
                                <li>[Oct. 2022] Our spatial language model SpaBERT paper was accepted to <a href="https://2022.emnlp.org/">EMNLP '22</a> findings!🎉</li>
                                <li>[Oct. 2022] I won the travel grant from <a href="https://sigspatial2022.sigspatial.org/">SIGSPATIAL '22</a>. I look forward to meeting you all in-person in Seattle in November!</li>
                                <li>[Sep. 2022] I presented our mapKurator pipeline and results of Sanborn fire insurance maps at the <a href="https://www.loc.gov/item/event-406138/machine-reading-maps-processing-text-from-maps-using-machine-learning/2022-09-01/">Library of Congress</a>.😀</li>
                                <li>[June 2022] I won the first place poster award at the <a href="https://www.ucgis.org/student-awards-2022">UCGIS Symposium '22</a>!🎉</li>
                                <li>[May 2022] I am super excited to co-organize "<a href="https://machines-reading-maps.github.io/ucgis2022-workshop">Reading and Linking Place: Text on Historical Maps</a>" workshop at the <a href="https://www.ucgis.org/symposium-2022-main">UCGIS Symposium '22</a>. I will also be presenting the poster in-person!😊</li>
                                <li>[Apr. 2022] Our two extended abstracts were accepted to <a href="https://www.gcdh.ugent.be/spatial-humanities-2022">Spatial Humanities '22.</a> The link to the papers will be released soon!</li>
                                <li>[Mar. 2022] <a href="http://machines-reading-maps.github.io">Machines Reading Maps</a> has started a new collaboration with the <a href="https://www.davidrumsey.com/">David Rumsey Map Collection</a>.🎊</li>
                                <li>[Nov. 2021] I received the 2nd prize in the High-Potential Individuals Global Training Program Achievement Award from the Ministry of Science and ICT, Korea.🎉</li>
                                <li>[Nov. 2021] I will serve as a student volunteer at the <a href="https://sigspatial2021.sigspatial.org">SIGSPATIAL '21</a>!</li>
                                <li>[Aug. 2021] I am thrilled to join <a href="http://machines-reading-maps.github.io">Machines Reading Maps</a> project! I look forward to contributing my skills and collaborating with amazing team members.🤗</li>
                                <li>[Jun. 2021] Our dx-SKKU&amp;Raon team won a second prize in <a href="https://sites.google.com/view/covidfake-emoreact-2021/home?authuser=0">Fake-EmoReact challenge</a> hosted by <a href="https://sites.google.com/site/socialnlp2021/#pgnaacl">SocialNLP</a> @ NAACL '21! </li>
                                <li>[Mar. 2021] I decided to pursue my doctoral study at the University of Minnesota’s CS&amp;E! </li>
                                <li>[Feb. 2021] <a href="https://www.jmir.org/2021/3/e24870/">Bibliometric analysis paper</a> on mental health and machine learning in social media was accepted in <i><a href="https://www.jmir.org/">Journal of Medical Internet Research</a></i>!</li>
                                <li>[Feb. 2021] <a href="https://doi.org/10.1108/DTA-06-2020-0123">Our paper</a> on capturing customers' repeat visits through hybrid approaches was finally accepted in <i><a href="https://www.emeraldgrouppublishing.com/journal/dta">Data Technologies and Applications</a></i>!</li>
                                <li>[Jan. 2021] Honored to attend the Global Young Scientists Summit (GYSS) 2021! Thank you NRF of Korea for the nomination.</li>
                                <li>[Jan. 2021] Our paper on book recommendation was accepted in <i><a href="https://www.emeraldgrouppublishing.com/journal/el?distinct_id=1768ef895ab315-0387f6cdae5c0a-c791039-1fa400-1768ef895ac2be&amp;_ga=2.182570918.1065104907.1613402169-784257948.1608716425">the Electronic Library</a></i>.🎉</li>
                                <li>[Dec. 2020] Successfully defended my Master's thesis! Thanks to everyone who has supported me throughout this journey.😀</li>
                            </div>
                        </ul>
                    </div>
                    </div>
                </section>

                <section id="publications">
                    <h1>Publications / Preprints</h1>

                    <h2>[2025]</h2>

                    <article>
                        <header>
                            <a href="https://arxiv.org/abs/2506.14670">StreetLens: Enabling Human-Centered AI Agents for Neighborhood Assessment from Street View Imagery</a><br/>
                            <span><em>Jina Kim</em>, Leeje Jang, Yao-Yi Chiang, Guanyu Wang, Michelle Pasco. (2025).</span><br/>
                            <span><i>ACM SIGSPATIAL GeoHCC '25 Workshop.</i>&nbsp; <a class="btn_dataset" href="https://knowledge-computing.github.io/projects/streetlens">[Demo & Code]</a></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            Region Context from Unifying Points, Lines, and Polygons<br/>
                            <span><em>Jina Kim</em>, Yao-Yi Chiang. (2025).</span><br/>
                            <span><i>ACM SIGSPATIAL UrbanAI '25 Workshop.</i>&nbsp; <a class="btn_dataset" href="https://github.com/knowledge-computing/regioncontext">[Code]</a></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            MoVER: Modeling User Heterogeneity with Enriched Trajectory Representations for Human Mobility Prediction<br/>
                            <span>Yijun Lin, Fandel Lin, <em>Jina Kim</em>, Yao-Yi Chiang. (2025).</span><br/>
                            <span><i>ACM SIGSPATIAL GISCUP '25 Workshop.</i>&nbsp; <a class="btn_dataset" href="https://github.com/knowledge-computing/giscup2025-mover">[Code]</a></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            BeSTAD: Behavior-Aware Spatio-Temporal Anomaly Detection for Human Mobility Data<br/>
                            <span>Junyi Xie, <em>Jina Kim</em>, Yao-Yi Chiang, Lingyi Zhao, Khurram Shafique. (2025).</span><br/>
                            <span><i>ACM SIGSPATIAL GeoAnomalies '25 Workshop.</i></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            HiCoTraj: Zero-Shot Demographic Reasoning via Hierarchical Chain-of-Thought Prompting from Trajectory<br/>
                            <span>Junyi Xie, Yuankun Jiao, <em>Jina Kim</em>, Yao-Yi Chiang, Lingyi Zhao, Khurram Shafique. (2025).</span><br/>
                            <span><i>ACM SIGSPATIAL GeoGenAgent '25 Workshop.</i></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://doi.org/10.1007/978-3-031-87421-5_16">Artificial Intelligence for Cartography and Maps</a><br/>
                            <span>Yuhao Kang, Chenglong Wang, Yu Feng, Guillaume Touya, <em>Jina Kim</em>. (2025).</span><br/>
                            <span>In <i>GeoAI and Human Geography: The Dawn of a New Spatial Intelligence Era</i>, pp. 219-237, Springer.</span>
                        </header>
                    </article>

                    <h2>[2024]</h2>

                    <article>
                        <header>
                            <a href="https://dl.acm.org/doi/10.1145/3681765.3698465">Context-Aware Trajectory Anomaly Detection</a><br/>
                            <span> Haoji Hu, <em>Jina Kim</em>, Jinwei Zhou, Sofia Kirsanova, Janghyeon Lee, Yao-Yi Chiang. (2024).</span><br/>
                            <span><i>ACM SIGSPATIAL GeoAnomalies '24 Workshop.</i></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://dl.acm.org/doi/abs/10.1145/3681769.3698577">Automatic Search of Multiword Place Names on Historical Maps</a><br/>
                            <span> Rhett M Olson, <em>Jina Kim</em>, Yao-Yi Chiang. (2024).</span><br/>
                            <span><i>ACM SIGSPATIAL GeoSearch '24 Workshop.</i></span>
                        </header>
                    </article>

                    <h2>[2023]</h2>

                    <article>
                        <header>
                            <a href="https://www.taylorfrancis.com/chapters/edit/10.1201/9781003308423-11/geoai-digitization-historical-maps-yao-yi-chiang-muhao-chen-weiwei-duan-jina-kim-craig-knoblock-stefan-leyk-zekun-li-yijun-lin-min-namgung-basel-shbita-johannes-uhl">GeoAI for the Digitization of Historical Maps</a><br/>
                            <span> Yao-Yi Chiang, Muhao Chen, Weiwei Duan, <em>Jina Kim</em>, Craig A. Knoblock, Stefan Leyk, Zekun Li, Yijun Lin, Min Namgung, Basel Shbita, Johannes H. Uhl (2023).</span><br/>
                            <span>In <i>Handbook of Geospatial Artificial Intelligence</i>, pp. 217-247, CRC Press.</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://dl.acm.org/doi/10.1145/3589132.3628372">Towards Learning of Spatial Triad from Online Text</a><br/>
                            <span> <em>Jina Kim</em>, Yao-Yi Chiang. (2023).</span><br/>
                            <span><i>ACM SIGSPATIAL '23 Student Research Competition.</i></span> <span style="color: #F58282"><i class="fa fa-trophy fa-fw"></i> First Place in the Graduate Category</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://dl.acm.org/doi/10.1145/3589132.3628368">An Automatic Approach to Finding Geographic Name Changes on Historical Maps</a><br/>
                            <span> Rhett M Olson, <em>Jina Kim</em>, Yao-Yi Chiang. (2023).</span><br/>
                            <span><i>ACM SIGSPATIAL '23 Student Research Competition.</i></span> <span style="color: #F58282"><i class="fa fa-trophy fa-fw"></i> First Place in the Undergraduate Category</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://dl.acm.org/doi/10.1145/3589132.3625579">The mapKurator System: A Complete Pipeline for Extracting and Linking Text from Historical Maps</a><br/>
                            <span> <em>Jina Kim</em>, Zekun Li, Yijun Lin, Min Namgung, Leeje Jang, Yao-Yi Chiang. (2023).</span><br/>
                            <span><i>ACM SIGSPATIAL '23 Demo Paper.</i></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0096300323003880" class="paper_link">Computational Approaches to Developing the Implicit Media Bias Dataset: Assessing Political Orientations of Nonpolitical News Article</a><br/>
                            <span> Seungpeel Lee, <em>Jina Kim</em>, Dongjae Kim, Ki Joon Kim, Eunil Park. (2023).</span><br/>
                            <span><i>Applied Mathematics and Computation</i>, 458, 128219. (SCIE, JCR 2022 IF=4.000)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0736585323000126" class="paper_link">Can book covers help predict bestsellers using machine learning approaches?</a><br/>
                            <span> Seungpeel Lee, <em>Jina Kim</em>, Eunil Park. (2023).</span><br/>
                            <span><i>Telematics and Informatics</i>, 78, 101948. (SSCI, JCR 2021 IF=9.140)</span>
                        </header>
                    </article>

                    <h2>[2022]</h2>

                    <article>
                        <header>
                            <a href="https://aclanthology.org/2022.findings-emnlp.200/" class="paper_link">SpaBERT: A Pretrained Language Model from Geographic Data for Geo-Entity Representation</a><br/>
                            <span> Zekun Li, <em>Jina Kim</em>, Yao-Yi Chiang, Muhao Chen. (2022).</span><br/>
                            <span><i>EMNLP '22 Findings.</i></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://link.springer.com/article/10.1007/s11135-021-01189-5" class="paper_link">Behind the Scenes of K-pop Fandom: Unveiling K-pop Fandom Collaboration Network</a><br/>
                            <span> Jiwon Kang, <em>Jina Kim</em>, Migyeong Yang, Eunil Park, Minsam Ko, Munyoung Lee, Jinyoung Han. (2022).</span><br/>
                            <span><i>Quality & Quantity</i>, 56, 1481–1502. (SSCI)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.tandfonline.com/doi/full/10.1080/13467581.2021.1972808" class="paper_link"> Classifying apartment defect repair tasks in South Korea: A machine learning approach</a><br/>
                            <span> Eunhye Kim, Honggeun Ji, <em>Jina Kim</em>, Eunil Park. (2022).</span><br/>
                            <span><i>Journal of Asian Architecture and Building Engineering</i>, 21(6), 2503-2510. (A&HCI, SCIE, JCR 2020 IF=0.692)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="http://dx.doi.org/10.32604/iasc.2022.024405">Automated crack detection via semantic segmentation approaches using advanced U-Net architectures.</a><br/>
                            <span> Honggeun Ji, <em>Jina Kim</em>, Syjung Hwang, Eunil Park. (2022).</span><br/>
                            <span><i>Intelligent Automation & Soft Computing</i>, 34(1), 593-607. (SCIE, JCR 2021 IF=3.401)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.tandfonline.com/doi/abs/10.1080/0144929X.2020.1827033" class="paper_link">Understanding social resistance to determine the future of Internet of Things (IoT) services</a><br/>
                            <span> <em>Jina Kim</em>, Eunil Park. (2022).</span><br/>
                            <span><i>Behaviour & Information Technology</i>, 41(3), 547-557. (SSCI, JCR 2020 IF=3.086)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://link.springer.com/article/10.1007/s40558-022-00222-z" class="paper_link"> Deep learning model based on expectation-confirmation theory to predict customer satisfaction in hospitality services</a><br/>
                            <span> Soyoung Oh, Honggeun Ji, <em>Jina Kim</em>, Eunil Park, Angel P.del Pobil. (2022).</span><br/>
                            <span><i>Information Technology & Tourism</i>, 24, 109-126. (SSCI, JCR 2020 IF=2.449)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="http://dx.doi.org/10.32604/cmc.2022.019521"></a>Integrating Deep Learning and Machine Translation for Understanding Unrefined Languages<br/>
                            <span> Honggeun Ji, Soyoung Oh, <em>Jina Kim</em>, Seong Choi, Eunil Park. (2022).</span><br/>
                            <span><i>Computers, Materials & Continua</i>, 70(1), 669-678. (SCIE, JCR 2020 IF=3.772)</span>
                        </header>
                    </article>


                    <h2>[2021]</h2>

                    <article>
                        <header>
                            <a href="https://doi.org/10.1108/DTA-06-2020-0123" class="paper_link">Between Comments and Repeat Visit: Capturing Repeat Visitors with a Hybrid Approach</a><br/>
                            <span> <em>Jina Kim**</em>, Yeonju Jang**, Kunwoo Bae, Soyoung Oh, Nam Jeong Jeong, Eunil Park, Jinyoung Han, Angel P.del Pobil. (2021).</span><br/>
                            <span><i>Data Technologies and Applications</i>, 55(4), 542-557. (SSCI, JCR 2020 IF=1.667)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://doi.org/10.1108/EL-08-2020-0234"> What books will be your bestseller? A machine learning approach with Amazon Kindle</a><br/>
                            <span> Seungpeel Lee, Honggeun Ji, <em>Jina Kim*</em>, Eunil Park. (2021).</span><br/>
                            <span><i>The Electronic Library</i>, 39(1), 137-151. (SSCI, JCR 2020 IF=1.453)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.jmir.org/2021/3/e24870/" class="paper_link">Machine Learning for Mental Health in Social Media: Bibliometric Study</a><br/>
                            <span> <em>Jina Kim</em>, Daeun Lee, Eunil Park. (2021).</span><br/>
                            <span><i>Journal of Medical Internet Research</i>, 23(3), e24870. (SCIE, JCR 2020 IF=5.428) </span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0969698920313898" class="paper_link">A deep hybrid learning model for customer repurchase behavior</a><br/>
                            <span> <em>Jina Kim</em>, Honggeun Ji, Soyoung Oh, Syjung Hwang, Eunil Park, Angel P.del Pobil. (2021).</span><br/>
                            <span><i>Journal of Retailing and Consumer Services</i>, 59, 102381. (SSCI, JCR 2020 IF=7.135)</span>
                        </header>
                    </article>

                    <h2>[2020]</h2>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/abs/pii/S014829632030535X?via%3Dihub" class="paper_link">Who will be your next customer: A machine learning approach to customer return visits in airline services</a><br/>
                            <span> Syjung Hwang, <em>Jina Kim</em>, Eunil Park, Sang Jib Kwon. (2020).</span><br/>
                            <span><i>Journal of Business Research</i>, 121, 121-126. (SSCI, JCR 2020 IF=7.550)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.nature.com/articles/s41598-020-68764-y" class="paper_link">A deep learning model for detecting mental illness from user content on social media</a><br/>
                            <span> <em>Jina Kim</em>, Jieon Lee, Eunil Park, Jinyoung Han. (2020).</span><br/>
                            <span><i>Scientific Reports</i>, 10, 11846. (SCIE, JCR 2020 IF=4.379)&nbsp; <a class="btn_dataset" href="{{site.baseurl}}/dataset/20srep-mental">[Dataset]</a></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/pii/S0736585320301118" class="paper_link">Can AI be a content generator? Effects of content generators and information delivery methods on the psychology of content consumers</a><br/>
                            <span> <em>Jina Kim</em>, Soyeon Shin,  Kunwoo Bae, Soyoung Oh, Eunil Park, Angel P.del Pobil. (2020).</span><br/>
                            <span><i>Telematics and Informatics</i>, 55, 101452. (SSCI, JCR 2020 IF=6.182)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/pii/S0736585320300939" class="paper_link">Cross-cultural comparison of interactive streaming services: Evidence from Twitch</a><br/>
                            <span>Soyoung Oh, <em>Jina Kim</em>, Honggeun Ji, Eunil Park, Jinyoung Han, Minsam Ko, Munyoung Lee. (2020).</span><br/>
                            <span><i>Telematics and Informatics</i>, 55, 101434. (SSCI, JCR 2020 IF=6.182)</span>
                        </header>
                    </article>

                    <h2>[2019]</h2>
                    <article>
                        <header>
                            <a href="https://dl.acm.org/doi/abs/10.1145/3311957.3359470" class="paper_link">Who will Subscribe to My Streaming Channel?: The Case of Twitch</a><br/>
                            <span> <em>Jina Kim</em>, Kunwoo Bae, Eunil Park, Angel P.del Pobil. (2019).</span><br/>
                            <span><i>CSCW 2019 Extended Abstracts.</i></span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/pii/S0969698919304369" class="paper_link">Determinants of customer satisfaction with airline services: An analysis of customer feedback big data</a><br/>
                            <span>Eunil Park, Yeonju Jang, <em>Jina Kim</em>, Nam Jeong Jeong, Kunwoo Bae, Angel P.del Pobil. (2019).</span><br/>
                            <span><i>Journal of Retailing and Consumer Services</i>, 51, 186-190. (SSCI, JCR 2019 IF=4.219)</span>
                        </header>
                    </article>

                    <article>
                        <header>
                            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0969698918309044" class="paper_link">Beyond coolness: Predicting the technology adoption of interactive wearable devices<br/></a>
                            <span> <em>Jina Kim</em>, Eunil Park. (2019).</span><br/>
                            <span><i>Journal of Retailing and Consumer Services</i>, 49, 114-119. (SSCI, JCR 2019 IF=4.219)</span>
                        </header>
                    </article>

                    <span style="font-size: 100%; color: rgb(60, 60, 60); font-weight: normal; font-style: italic;">* = co-corresponding author, ** = equal contribution</span>

                <!--    <h2>Domestic Publications</h2>-->
                <!--    <h2>[2021]</h2>-->
                <!--    <article>-->
                <!--        <header>-->
                <!--            Classifying Sub-categories of Apartment defect Repair Tasks: A Machine Learning Approach <br/>-->
                <!--            <span>Eunhye Kim, Honggeun Ji, <em>Jina Kim</em>, Eunil Park, Jay Y. Ohm. (2021).</span><br/>-->
                <!--            <span><i>KIPS Transactions on Software and Data Engineering</i>, 10(9), 359-366.</span>-->
                <!--        </header>-->
                <!--    </article>-->

                <!--    <article>-->
                <!--        <header>-->
                <!--            Deep Learning Models for Autonomous Crack Detection System <br/>-->
                <!--            <span>Honggeun Ji, <em>Jina Kim</em>, Syjung Hwang, Dogun Kim, Eunil Park, Young Seok Kim, Seung Ki Ryu. (2021).</span><br/>-->
                <!--            <span><i>KIPS Transactions on Software and Data Engineering</i>, 10(5), 161-168.</span>-->
                <!--        </header>-->
                <!--    </article>-->

                <!--    <article>-->
                <!--        <header>-->
                <!--            Propagation of Blame and Revolting Expressions in Social Network Services: the Case of COVID-19<br/>-->
                <!--            <span>Sangeun Lee, Jisu Kim, <em>Jina Kim</em>, Eunil Park, Angel P.del Pobil. (2021).</span><br/>-->
                <!--            <span><i>HCI Korea 2021</i>.</span>-->
                <!--        </header>-->
                <!--    </article>-->

                <!--    <h2>[2018]</h2>-->
                <!--    <article>-->
                <!--        <header>-->
                <!--            An MQTT based Real Time LBS System Design for Vehicles and Pedestrians<br/>-->
                <!--            <span>Wongyun Choi, <em>Jina Kim</em>, Hyunyong Sim, Yejin Kim, Inhwan Jung, Jaemoon Lee, Namyoon Kim. (2018).</span><br/>-->
                <!--            <span><i>Korea Computer Conference</i>, 413-415.</span>-->
                <!--        </header>-->
                <!--    </article>-->

                <!--    <article>-->
                <!--        <header>-->
                <!--            Implementation of Multi-Streaming System of Live Video of Drone<br/>-->
                <!--            <span>Kitae Hwang, <em>Jina Kim</em>, Yongseok Choi, Joonhee Kim, Hyungmin Kim, Inhwan Jung. (2018).</span><br/>-->
                <!--            <span><i>The Journal of the Institute of Internet, Broadcasting and Communication</i>, 18(1), 143-149.</span>-->
                <!--        </header>-->
                <!--    </article>-->
                </section>

                <section id="projects">
                    <h1>Fun Projects</h1>

                    <article>
                    <div class="project">
                        <img src="{{ site.baseurl }}assets/images/project1.png" class="project_image" data-toggle="modal" data-target="#myModal" style="cursor: pointer;">
                        Drone Live Video Streaming Solution using Raspberry PI <br>
                        HIFLY Team Project &nbsp; <a class="btn_dataset" href="https://youtu.be/55R1oghmro4">[Video]</a>
                        <p>
                        We implemented a streaming system which can forward live video stream to multiple users from a Phantom4, a drone made by DJI.
                        Also, we constructed the streaming server on Raspberry Pi 3 board for high mobility.
                        The video stream can be played on any devices if the HTML5 standard web browser is utilized.
                        </p>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Drone Live Video Streaming Solution using Raspberry PI</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{ site.baseurl }}assets/images/project1.png" class="project_image_modal">
                        </div>
                        </div>
                    </div>
                    </div>
                    </article>
                </section>


                <section class="experience">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Education</h1>
                            <article>
                                <header>
                                    Visiting Scholar in Language Technologies Institute, Jan. to Jul. 2020<br>
                                    <span>Carnegie Mellon University</span>
                                    <span><address>Pittsburgh, USA</address></span><br>
                                </header>
                            </article>
                            <article>
                                <header>
                                    M.Sc. in Interaction Science, Feb. 2021<br>
                                    <span>Sungkyunkwan University</span>
                                    <span><address>Seoul, Republic of Korea</address></span>
                                </header>
                            </article>

                            <article>
                                <header>
                                    B.S. in Computer Engineering, Feb. 2019<br>
                                    <span>Hansung University</span>
                                    <span><address>Seoul, Republic of Korea</address></span>
                                </header>
                            </article>
                        </div>

                        <div class="col-sm-6">
                            <h1>Work Experience</h1>
                            <article>
                                <header>
                                    Applied Scientist Intern @ Amazon, Jun. to Aug. 2024<br/>
                                    <span><address>Seattle, USA</address></span><br/>
                                </header>
                            </article>
                            <article>
                                <header>
                                    AI Scientist Intern @ Raon Data, Mar. to Jun. 2021<br/>
                                    <span><address>Seoul, Republic of Korea</address></span><br/>
                                </header>
                            </article>
                            <article>
                                <header>
                                    Undergraduate Intern @ Electronics and Telecommunications Research Institute (ETRI), Jun. to Aug. 2018<br/>
                                    <span><address>Daejeon, Republic of Korea</address></span><br/>
                                </header>
                            </article>
                        </div>
                    </div>
                </section>

                <footer>© 2021. Powered by Jekyll.</footer>
            </div>
        </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% if jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}

</body>
</html>
